* {
font-family: 'Poppins';
}

body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218deg 50% 91%);
    height: 100vh;
}


.login-container {
    background: hsl(213deg 85% 97%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    gap: 2em;
}

.login-container .logo {
    margin-top: -5em;
    width: 350px;
    margin: 0 auto;
}

.img_program {
    width: 600px;
    display: block;
    margin: auto;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
    body {
        height: auto; /* Allow body to grow */
        padding: 2em; /* Add padding for smaller screens */
    }

    .login-container {
        width: 90%; /* Make the container take up more space */
        padding: 1.5em; /* Adjust padding */
        font-size: 1.1em;
    }

    .login-container .logo {
        width: 280px;
    }

    .img_program {
        width: 100%; /* Make the image responsive */
        height: auto; /* Maintain aspect ratio */
    }
}

.login-container .username {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    margin-top: -3em;
}

.login-container .username input {
    outline: none;
    border: none;
}

.login-container .username input::placeholder {
    color: hsl(0deg 0% 0%);
    font-size: 0.9em;
}

.login-container .username ion-icon {
    color: hsl(0deg 0% 30%);
    margin-bottom: -0.2em;
}

.login-container .password {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
}

.login-container .password input {
    outline: none;
    border: none;
}

.login-container .password input::placeholder {
    color: hsl(0deg 0% 0%);
    font-size: 0.9em;
}

.login-container .password ion-icon {
    color: hsl(0deg 0% 30%);
    margin-bottom: -0.2em;
}

.login-container .password .show-hide {
    margin-right: -5em;
}

.login-container .login {
    padding: 1em;
    background: #78B3CE;
    color: hsl(0 0 100%);
    border: none;
    border-radius: 30px;
    font-weight: 600;
}

.login-container .login:hover {
    background-color: #F96E2A;
}

button {
    cursor: pointer;
}

#alert {
    color: #a21c1c; /* Red alert message */
    margin-top: 10px;
    align-self: center; /* Align to the start of the form */
}
